.title {
    text-align: left;
    font-size: 23px; 
    margin-left: 110px;
}

/* Container */
.container {
    display: flex;
    margin: 20px;
}

/* product */
.product-box-display {
    display: flex;
    justify-content: start;
    margin: 6px 50px;
    flex-wrap: wrap;
}

.product-box {
    display: flex;
    flex-direction: column;
    background-color: #CEE8EA;
    border-radius: 30px;
    margin: 37px;
}

.product-image {
    border-radius: 30px 30px 0 0;
    width: 200px;
    height: 160px;
    cursor: pointer;
    object-fit: cover;
}

.product-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 17px;
    height: 100px;
}

.product-name {
    font-weight: bold;
}

.product-cost {
    font-size: 14px;
}

/* My profile */
.box {
    display: flex;
    justify-content: center;
    margin: 6px 50px;
    flex-wrap: wrap;
}

.myprofile-box {
    display: flex;
    justify-content: center;
    padding: 15%;
    background-color: #CEE8EA;
    border-radius: 30px;
    width: 400px;
    height: 370px;
    font-size: 24px;
}

.myprofile-image {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 20px; 
}

.myprofile-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myprofile-text {
    margin-bottom: 8px;
}

.myprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.star-rating .fas {
    color: rgb(0, 0, 0);
}