body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    margin-top: 160px;
}
a {
    text-decoration: none;
}
/* navbar */
.navbar-format-display {
    box-shadow: 0 5px 10px -7px #656565;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
}
.navbar-button-format {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.navbar-title {
    font-size: 30px;
    padding-left: 30px;
    color: #05c1b1;
}
.navbar-button-format > a{
    color: black;
    text-decoration: none;
}
.navbar-button {
    padding: 20px;
    border-radius: 20px;
}
.navbar-button:hover{
    background-color: #c8c8c8;
}
.login-function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
.login-icon > img {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 999em;
}
.login-button{
    font-size: 30px;
    color: #000000;
    cursor: pointer;
    padding: 5px;
}
.login-button:hover {
    background-color: #dadada;
    border-radius: 20px;
}

/* searchBar */
.search-bar-display {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.search-bar {
    display: flex;
    justify-content: space-between;
    background-color: #CEE8EA;
    border-radius: 70px;
    width: 80%;
}
.text-input {
    width: 100%;
    border: none;
    background-color: #CEE8EA;
}
.location-button, .search-button{
    background-color: #3A9CA3;
    border-radius: 70px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* bottomBar */
.Bottom {
    color: #ffffff;
}
.Bottom-Introduce > img {
    height: 18%;
    width: 18%;
}
.Bottom-Introduce {
    display: flex;
    background-color: #363636;
    justify-content: space-around;
    padding: 40px 50px;
    font-size: 16px;
}
.Bottom-Button {
    display: flex;
    flex-direction: column;
}
.Bottom-button > div > a {
    text-decoration: none;
    color: #ffffff;
}  
.Bottom-button > div {
    padding-top: 25px;
}  
.Bottom-button > div > a:hover {
    color: #dadada;
}
.Bottom-Regulations {
    text-align: center;
    background-color: #000000;
    padding: 10px;
}