.box {
    display: flex;
    justify-content: center;
    padding: 10px 70px;
  }
  
  .profile-photo-size {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .public-profile-size {
    display: flex;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .function {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 70px;
    background-color: #3A9CA3;
    color: white;
    margin-bottom: 10px;
    width: 150px;
    text-align: center; 
  }
  .hidden-input {
    display: none;
}
  .button:hover {
    background-color: #2E7B84;
  }
  
  .button:last-child {
    margin-right: 0;
  }
  
  .edit-box {
    display: flex;
    flex-direction: column;
    background-color: #CEE8EA;
    border-radius: 30px;
    padding: 30px;
    width: 59%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    border-radius: 70px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .myprofile-image {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .photo-text {
    margin-left: 20px;
    flex-direction: column;
  }
  