.title {
    text-align: left;
    font-size: 23px; 
    margin-left: 110px;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

/* product */
.product-box-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-box {
    display: flex;
    flex-direction: column;
    background-color: #CEE8EA;
    border-radius: 30px;
    margin: 37px;
}

.product-image {
    border-radius: 30px 30px 0 0;
    width: 200px;
    height: 160px;
    cursor: pointer;
    object-fit: cover;
}

.product-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 17px;
    height: 100px;
}

.product-name {
    font-weight: bold;
}

.product-cost {
    font-size: 14px;
}

/* My profile */
.box {
    display: flex;
    justify-content: center;
    margin: 6px 50px;
}
.profile_box {
    background-color: #CEE8EA;
    height: 350px;
    padding: 30px 60px;
    font-size: 20px;
    border-radius: 30px;
}
.edit_button {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    color: black;
}
.edit_button :hover{
    color: #5d5d5d;
}
.myprofile-image {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 20px; 
}

.myprofile-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myprofile-text {
    margin-bottom: 8px;
}
.star-rating {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.star-rating .fas {
    color: rgb(0, 0, 0);
}